html {

    width: 1920px;
    height: 1080px;
    flex-shrink: 0;

    background: #FFF;
}

body {
    box-sizing: border-box;

    width: 670px;
    height: 960px;

    border-radius: 20px;
    border: 1px solid #AACDFF;
    background: #FFF;
    box-shadow: 7px 7px 39px 0px rgba(0, 104, 255, 0.25);

    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2 {
    width: 466px;

    color: #0068FF;
    font-family: Noto Sans CJK KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}